<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosiko reset password</title>
    <style>
        .message{
            margin: 32px;
            font-family: "Roboto", system-ui;
        }

        h2, .button{ font-weight: 500; }

        .button{
            padding: 12px;
            border-radius: 8px;
            background: #4caf50;
            color: white !important;
            text-decoration: none;
        }

        .button:hover{
            cursor: pointer;
            background: #81c784;
        }
    </style>
</head>
<body>
<div class="message">
    <h2 th:text="'Hello ' + ${name}">Hello user</h2>
    <p>To set a new password for your account click on the button below.</p>
    <br>
    <a th:href="${url}" class="button">RESET PASSWORD</a>
</div>
</body>
</html>