<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rosiko account verification</title>
        <style>
            .message{
                margin: 32px;
                font-family: "Roboto", system-ui;
            }

            h2, .button{ font-weight: 500; }

            .button{
                padding: 12px;
                border-radius: 8px;
                background: #4caf50;
                color: white !important;
                text-decoration: none;
            }

            .button:hover{
                cursor: pointer;
                background: #81c784;
            }
        </style>
    </head>
    <body>
        <div class="message">
            <h2 th:text="'Hello ' + ${name} + ', welcome to Rosiko!'">Hello, welcome to Rosiko!</h2>
            <p>To complete the registration you need to verify your email by clicking on the button below.</p>
            <br>
            <a th:href="${url}" class="button">ACTIVATE ACCOUNT</a>
        </div>
    </body>
</html>